extends layout

block content
	h1 Chat Rooms

	a.btn.btn-primary(href=baseUrl + "/rooms/add") Create new chat room
	table.table.table-stripped
		thead
			tr
				th
				th Name
				th
				th Id
		tbody
			each room in rooms
				tr
					td(style="width: 50px;"): a(href=baseUrl+"/rooms/delete/#{room.id}")
						span.glyphicon.glyphicon-remove
					td= room.name
					td(style="width: 50px;"): a(href=baseUrl+"/rooms/edit/#{room.id}")
						span.glyphicon.glyphicon-edit
					td= room.id
